header,
main,
footer {
  padding: 0 10px;
}

h2 {
  font-size: 40px;
}

section {
  margin-bottom: 40px;
}

p {
  padding: 10px 0;
}

/* header start here */
.nav__logo {
  width: 100px;
}

.nav__item:last-child a {
  border: 2px solid var(--primary-color);
  font-weight: 500;
  padding: 10px 15px;
}

.nav__item:first-child a,
.nav__item:nth-child(2) a,
.nav__item:nth-child(3) a {
  display: none;
}

.banner {
  flex-direction: column-reverse;
  margin-top: 50px;
}

.banner__img {
  width: 100%;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

.banner__title {
  font-size: 40px;
  margin-top: 30px;
}
/* header end here */

/* main start here */
/* plants start */
.plants__desc {
  padding: 10px 0;
}

.plants__items {
  margin-top: 15px;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.plants__card {
  margin-top: 8px;
}

.plants__card__title {
  font-size: 18px;
  margin: 20px 0 10px 0;
}

.plants__card__price {
  font-size: 17px;
  margin-bottom: 20px;
}

.plants__card__button {
  padding: 17px;
  font-size: 14px;
}
/* plants end */

/* flower start */
.flower {
  flex-direction: column;
  gap: 30px;
  margin-top: 20px;
}

.flower__img {
  width: 100%;
  position: static;
}

.flower__badge {
  display: none;
}

.flower__info {
  width: 100%;
}

.flower__title {
  margin-bottom: 10px;
}

.flower__info ul li {
  font-size: 17px;
  margin-bottom: 10px;
}

.flower__info ul li {
  margin-left: 17px;
}
/* flower end */

/* deals start */

.deals {
  margin-bottom: 30px;
}
.deals__desc {
  padding: 20px 0 30px;
}

.discount-container {
  flex-direction: column;
  gap: 10px;
}

.discount-2div {
  gap: 10px;
}

.discount h4 {
  font-size: 20px;
}

.discount a {
  font-size: 18px;
}

.discount3 a {
  text-underline-offset: 5px;
}
/* deals end */

/* join start */
.join {
  height: 300px;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
  padding: 0 10px;
}

.join__title {
  font-size: 24px;
}

.subscribe {
  width: 100%;
  display: flex;
}

.subscribe input {
  width: 70%;
  padding: 15px 20px;
}

.subscribe button {
  width: 30%;
  padding: 15px 0;
  font-size: 14px;
}

.subscribe button i {
  display: none;
}
/* join end */
/* main end here */

/* footer start here */
footer {
  flex-direction: column;
  gap: 0px;
  padding-bottom: 30px;
}

.footer__info {
  margin: 20px 0;
}

.footer__icon {
  padding: 20px 0;
  justify-content: flex-start;
  gap: 35px;
}
/* footer end here */
