header,
main {
  padding: 0 10px;
}

section {
  margin-bottom: 40px;
}

p {
  padding: 10px 0;
}

/* header start here */
.nav__logo {
  width: 100px;
}

.nav__item:last-child a {
  border: 2px solid var(--primary-color);
  font-weight: 500;
  padding: 10px 15px;
}

.nav__item:first-child a,
.nav__item:nth-child(2) a,
.nav__item:nth-child(3) a {
  display: none;
}

.banner {
  flex-direction: column-reverse;
  margin-top: 50px;
}

.banner__img {
  width: 100%;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

.banner__title {
  font-size: 40px;
  margin-top: 30px;
}
/* header end here */

/* main start here */
.plants__title {
  font-size: 45px;
}
.plants__desc {
  padding: 10px 0;
}

.plants__items {
  margin-top: 15px;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.plants__card {
  margin-top: 8px;
}

.plants__card__title {
  font-size: 18px;
  margin: 20px 0 10px 0;
}

.plants__card__price {
  font-size: 17px;
  margin-bottom: 20px;
}

.plants__card__button {
  padding: 17px;
  font-size: 14px;
}
/* main end here */
